<h1>{{ title }}</h1>

<h2>Étape 2 : liste de héros</h2>

<ul class="heroes">
  @for (hero of heroesModel(); track hero.id) {
    <li>
      <button type="button" (click)="onSelect(hero)" 
        [class.selected]="hero === selectedHeroModel()">
        <span>{{hero.id}}</span>&nbsp;
        <span>{{hero.name}}</span>&nbsp;
        <span>{{ hero.actif ? "&check;" : "&#10007;" }}</span>
      </button>
    </li>
  }
</ul>

@if (selectedHeroModel(); as hero) {
    <!-- 1. Affichage propre des détails via le composant dédié -->
    <app-hero-detail-component [hero]="hero"></app-hero-detail-component>
    <app-hero-edit-component [hero]="hero" (heroChange)="onHeroChange($event)"></app-hero-edit-component>
} @else {
    <p>Aucun héros sélectionné</p>
}